*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    
}

body {
    background-color: #820b0b;
    overflow-x: hidden; 
    overflow-y: hidden; 
   
}
#titulo{
    align-items: center;
    justify-content: center;
    display: flex;
    flex-direction: column;
    margin-top: 100px;
    font-weight: bolder;
    color: white;
    font-size: 2em;
}

header#cabecalho-principal{
    background-color: #dddddd;
    width: 100%;
    height: 40px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

#pontuacao-jogo{
    background-color: #61B1EA ;
    border-radius: 50px;
    padding: 4px 20px;
    color: white;
    padding: 4px 60px;
    font-size: 1.15em;
    font-weight: 700;
    margin-left: 15px;
    display: flex;
    flex-direction: row;
    justify-content: center;    
    
}

#pontuacao-jogo img {
    margin-left: 15px;
}

#nome-jogo{
    font-weight: bolder;
    font-size: 27px;
    margin-right: 40px;
}

section#corpo{
    display: flex;
    flex-direction: row;
    margin-top: 250px;


}


section#corpo div#esquerda{

    margin-right: -600px;
    color: white;
    display: flex;
    flex-direction: column;
    width: 80%;
    align-items: center;

}
#direita{
    width: 200px;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    flex-direction: column;
}

section#corpo div#esquerda div#cor-atual{
    margin-top: 20px;
    height: 250px;
    width: 250px;
    border: 6px solid black;
    border-radius: 15px;
}

section#corpo div#esquerda button#btn-responder {
    margin-top: 10px;
    background-color: transparent;
    border: 2px solid white;
    border-radius: 10px;
    
    font-size: 25px;
    font-weight: bold;
    color:white;
    padding: 15px 45px;
    cursor: pointer;

}

div#container footer#rodape{
background-color: rgb(26,26,32);
position: fixed;
bottom: 0px;
width: 100%;

display: flex;
justify-content: center;
}

#cor-na-caixa{
    color: #820b0b;
}

section#corpo div#esquerda {
    margin-right: 0; /* Removido o margin negativo para mobile */
    margin-bottom: 20px; /* Espaçamento entre os elementos em mobile */
}




/* Media Queries para dispositivos móveis */
@media screen and (max-width: 767px) {
    #titulo {
        font-size: 1.5em;
        margin-top: 20px;
    }

    header#cabecalho-principal {
        height: 100px;
    }
    
   
    #pontuacao-jogo, #nome-jogo {
        font-size: 0.9em;
    }

    #pontuacao-jogo img {
        height: 15px;
    }

    #btn-responder {
        font-size: 18px;
        padding: 8px 20px;
    }

    section#corpo {
        margin-top: 100px;
        flex-direction: column;
        
    }
    #direita{
        margin-left: 150px;
        width: 200px;
        
    }

    #cor-atual {
        height: 100px;
        width: 100px;
    }
}

/* Media Queries para tablets */
@media screen and (min-width: 768px) and (max-width: 1023px) {
    #titulo {
        font-size: 1.75em;
        margin-top: 70px;
       
    }

    header#cabecalho-principal, footer#rodape {
        height: 55px;
    }

    #pontuacao-jogo, #nome-jogo {
        font-size: 1em;
    }

    #direita{
        margin-left: 80px;
        width: 400px;
       
    }
    #esquerda{
        width: 400px;
        height: 700px;
        
    }
    #btn-responder {
        font-size: 20px;
        padding: 12px 35px;
        
    }

    #cor-atual {
        height: 250px;
        width: 250px;
    }
}

/* Media Queries para desktops */
 @media screen and (min-width: 1024px) {
    #titulo {
        font-size: 2em;
        margin-top: 100px;
    }

    header#cabecalho-principal {
        height: 60px;
    }

    #pontuacao-jogo, #nome-jogo {
        font-size: 1.15em;
    }

    #btn-responder {
        font-size: 25px;
        padding: 15px 45px;
    }

    section#corpo {
        margin-top: 250px;
        
    }

    #direita {
      width: 400px;
      height: 500px;
      margin-right: 400px;
    }

  
} 


















