*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body {
    background-color: #b30000;
    overflow-x: hidden; 
    overflow-y: hidden; 
}

header#cabecalho-principal{
    background-color: #dddddd;
    width: 100%;
    height: 40px;

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

#pontuacao-jogo{
    background-color: #61B1EA ;
    border-radius: 50px;
    padding: 10px;
    color: white;
    padding: 4px 60px;
    font-size: 1.15em;
    font-weight: 700;
    margin-left: 15px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    
    
}

#pontuacao-jogo img {
    margin-left: 15px;
}

#nome-jogo{
    font-weight: bolder;
    font-size: 27px;
    margin-right: 20px;
}

section#corpo{
    display: flex;
    flex-direction: row;
    margin-top: 15px;
}


section#corpo div#esquerda{

    margin-left: 10px;
    color: white;
    display: flex;
    flex-direction: column;
    width: 60%;

    align-items: center;

}


section#corpo div#esquerda div#cor-atual{
    margin-top: 20px;
    height: 200px;
    width: 200px;
    border: 6px solid black;
    border-radius: 15px;
}

section#corpo div#esquerda button#btn-responder {
    margin-top: 10px;
    background-color: transparent;
    border: 2px solid white;
    border-radius: 10px;
    
    font-size: 25px;
    font-weight: bold;
    color:white;
    padding: 15px 45px;
    cursor: pointer;

}

div#container footer#rodape{
background-color: rgb(26,26,32);
position: fixed;
bottom: 0px;
width: 100%;

display: flex;
justify-content: center;
}

#cor-na-caixa{
    color: #b30000;
}

@media only screen and (min-width: 412px){
    #pontuacao-jogo{
        width: 150px;
        margin-left: auto;
        margin-right: auto;
        padding: 12px 0px;
        margin: 10px  ;
        
    }       
}

@media only screen and (min-width: 412px){
    #nome-jogo{
        width: 200px;
        margin-left: auto;
        margin-right: auto;
        font-size: 1.25em;
    }
    
}

@media only screen and (min-width: 412px){
    #direita{
        width: 200px;
        margin-left: auto;
        margin-right: auto;
        display: flex;
        flex-direction: column;
       
    }
    
}

@media only screen and (min-width: 412px){
    section#corpo div#esquerda button#btn-responder{

        margin-top: 10px;
        background-color: transparent;
        border: 2px solid white;
        border-radius: 10px;
        
        font-size: 25px;
        font-weight: bold;
        color:white;
        padding: 15px 25px;

    }
    
}


@media only screen and (min-width: 576px){
    #pontuacao-jogo{
        width: 150px;
        margin-left: auto;
        margin-right: auto;
        padding: 12px 0px;
        margin: 10px  ;
        
    }       
}

@media only screen and (min-width: 576px){
    #nome-jogo{
        width: 200px;
        margin-left: auto;
        margin-right: auto;
        font-size: 1.25em;
    }
    
}

@media only screen and (min-width: 576px){
    #direita{
        width: 200px;
        margin-left: auto;
        margin-right: auto;
        display: flex;
        flex-direction: column;
       
    }
    
}

@media only screen and (min-width: 576px){
    section#corpo div#esquerda button#btn-responder{

        margin-top: 10px;
        background-color: transparent;
        border: 2px solid white;
        border-radius: 10px;
        
        font-size: 25px;
        font-weight: bold;
        color:white;
        padding: 15px 25px;
        cursor: pointer;
    }
    
}

@media only screen and (min-width: 280px){
    #pontuacao-jogo{
        width: 150px;
        margin-left: auto;
        margin-right: auto;
        padding: 0px 10px;
        margin: 20px 10px;
      font-size: 1em;
        
    }       
}
@media only screen and (min-width: 280px){
    h3{
        font-size: 0.9em;
    }
}

@media only screen and (min-width: 280px){
    #nome-jogo{
        width: 150px;
        margin-left: auto;
        margin-right: auto;
        font-size: 1em;
    }
    
}

@media only screen and (min-width: 280px){
    #direita{
        width: 130px;
        margin-left: auto;
        margin-right: auto;
        display: flex;
        flex-direction: column;
       
    }
    
}

@media only screen and (min-width: 280px){
    section#corpo div#esquerda button#btn-responder{

        margin-top: 10px;
        background-color: transparent;
        border: 2px solid white;
        border-radius: 10px;
        
        font-size: 25px;
        font-weight: bold;
        color:white;
        padding: 15px 25px;
        cursor: pointer;
    }
    
}

@media only screen and (min-width: 280px){
    header#cabecalho-principal{
        background-color: #dddddd;
        width: 120%;
        height: 40px;
    
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
    }
}


/*
@media only screen and (min-width: 576px) {
	#container {
	  width: 540px;
	  margin-left: auto;
	  margin-right: auto;
	}
  }
  @media  only screen and (min-width: 768px) {
	#container {
	  width: 720px;
	}
  }
  @media  only screen and (min-width: 992px) {
	#container {
	  width: 960px;
	}
  }
  @media only screen and (min-width: 1200px) {
	#container {
	  width: 1140px;
	}
  }
  @media only screen and (min-width: 1400px) {
	#container {
	  width: 1320px;
	}
  }

  */
  
